{% extends "loginbase.html" %}

{% block content %}
    <h1>login</h1>
    {% if msg %}
        <div id=errormsg>
            {% for error in msg%}
            {{ err }}<br>
            {% endfor %}
        </div>
    {% endif %}

        <form action="/newcustomer" method="POST">
            
            email <br> 
            <input type="email" name="email"/><br> <br> 
            password <br> 
            <input type="password" name="password"/><br> <br> 
            </select><br> <br> 

            <input type="submit" value="login"/>
        </form>

{% endblock %}